// testimonials
.page-id-1085 {
  .x-section {
    .x-cite {
        color: $orange;
        opacity: 1;
      }

      .x-blockquote {
        font-size: 1.3em;
      }
  } 
}

//Sponsors
.page-id-16 {
  .entry-content {
    img { box-shadow: none; }
  }
}

#sponsors-accordion {
  .x-accordion-toggle {
    background-color: $orange;
  }

  .x-accordion-inner {
    overflow: hidden;
  }
}

#about-callout {
  .x-btn {
    display: block;
    background: $orange;
    &:hover,
    &:focus,
    &:active {
      background: $orange-dark;
    }
  }
}
