// testimonials
.page-id-1085 {
  .x-cite {
    color: $orange;
  }
}


// Gracious living offers
.page-id-9250 {
  .x-block-grid.two-up {
    h2 {color: $turq;}
    i {background: $turq;}
  }
}

#about-callout {
  .x-btn {
    display: block;
    background: $orange;
    &:hover,
    &:focus,
    &:active {
      background: $orange-dark;
    }
  }
}
