.x-child-theme-active {
  #sponsors-accordion {
    .x-accordion-toggle {
      background-color: $turq;
    }

    .x-accordion-inner {
      overflow: hidden;
    }
  }

  #about-callout {
    .x-btn {
      display: block;
      background: $lime;

      &:hover,
      &:focus,
      &:active {
        background: $lime-dark;
      }
    }
  }
}