// Event main page and single pages
.tribe-theme-child-gracious_living_2015 {
  //customizing photo page view
  &.tribe-events-map {
    #tribe-events-pg-template {
      @include break(cubs) {
        max-width: 90%;
        padding-top: 0;
      }
    }
  }

  //customizing photo page view
  &.tribe-events-photo {
    #tribe-events-pg-template {
      max-width: 1200px;

      #tribe-events-bar {
        max-width: 790px;
        margin-left: auto;
        margin-right: auto;
      }

      .tribe-events-event-image {
        float: none;
        width: 86%;
        margin: 30px auto;
      }
    }
  }

  //customizing list page view
  &.events-list {
    .tribe-events-list {
      .tribe-events-list-separator-month {
        background-color: $lime;
        color: $grey-dark;
      }

      .tribe-events-event-image {
        float: left;
        width: 25%;
        margin: 37px 30px 0 19px;

        @include break(cubs) {
          margin: 37px 30px 1% 12px;
        }

        @include break(baby-bear) {
          width: 96%;
          margin: 30px auto;
          float: none;
        }
      }

      .tribe-events-list-event-description {
        top: 10px;

        @include break(baby-bear) {
          clear: both;
        }
      }
    }

    .tribe-events-list-separator-month {
      margin: 60px 0 0;
    }
  }

  //customizing calendar/month page view
  &.events-gridview {
    .tribe-events-page-title {
      color: $lime;
    }

    #tribe-mobile-container .type-tribe_events .tribe-events-event-image {
      float: none;
      width: 96%;
      margin: 30px auto;
    }
  }

  //customizing single venue page view
  &.single-tribe_venue {
    .tribe-events-event-image {
      float: left;
      width: 25%;
      margin: 37px 30px 0 19px;

      @include break(cubs) {
        margin: 37px 30px 1% 12px;
      }

      @include break(baby-bear) {
        width: 96%;
        margin: 30px auto;
        float: none;
      }
    }

    .tribe-events-list-event-description {
      top: 10px;

      @include break(baby-bear) {
        clear: both;
      }
    }
  }

  //customizing single page view
  &.single-tribe_events {
    .tribe-events-schedule {
      margin: 0;

      h3 {
        color: $lime;
        font-weight: bold;
      }
    }

    .tribe-events-venue-map {
      float: none;
      width: 100%;
      padding: 0;

      img {
        box-shadow: none;
      }
    }

    .h-landmark {
      color: $lime;
    }

    .tribe-events-event-image {

      img {
        margin: 4% 2%;
        border-radius: 0;
        box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $lime;

        @include break(cubs) {
          margin: 30px 2%;
        }
      }

      img.alignleft {
        margin-right: 4%;
        @include break(baby-bear) {
          float: none;
          margin-right: auto;
          margin-left: auto;
        }
      }

      img.alignright {
        margin-left: 4%;
        @include break(baby-bear) {
          float: none;
          margin-right: auto;
          margin-left: auto;
        }
      }

      img.aligncenter {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .tribe-events-content {
      img {
        max-width: 96%;
        @include break(cubs) {
          max-width: 86%;
        }
      }
    }
  }

  #tribe-events-pg-template {
    @include break(mama-bear) {
      margin-top: 80px;
      max-width: 760px;
    }

    @include break(cubs) {
      max-width: 90%;
      padding-top: 0;
    }

    // a {
    //   color: $turq;

    //   &:hover {
    //     color: $turq-dark;
    //   }
    // }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: uppercase;
    }

    .tribe-events-content {
      ol,
      ul {
        li {
          line-height: 1.8;
        }
      }
    }

    // Prev & Next Buttons, fixing mobile looks
    .tribe-events-sub-nav li a {
      @include break(middle-bear) {
        display: initial;
        padding: 0;
        color: $turq;
        margin-bottom: initial;
        background: none;
      }
    }

    .time-details {
      color: $lime;
      font-size: 1.2em;
    }

    .tribe-events-event-image {
      img {
        box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $lime;

        @include break(middle-bear) {
          max-width: 85%;
        }
      }

      a {
        &:hover img {
          box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $turq-dark;
        }

        img {
          box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $turq;

          @include break(middle-bear) {
            max-width: 85%;
          }
        }
      }
    }
  }

  #tribe-bar-form {
    // Adding a down arrow next to "view as" menu
    .tribe-bar-views-inner label {
      color: $turq;

      &:after {
        content: "\f103";
        font-family: FontAwesome;
        margin-left: 8px;
      }
    }

    label {
      color: $lime;
    }

    .tribe-bar-submit input[type=submit] {
      background: $turq;
    }
  }

  .tribe-events-page-title {
    color: $grey-dark;
  }
}

// Events widget on main page
// =============================================================================
.home {
  .tribe-events-adv-list-widget {
    //change look of date on home page event widget
    .duration {
      font-size: 15px;
      color: $lime;
      font-weight: bold;
    }
  }

  .tribe-mini-calendar-event .list-info h2 {
    margin-bottom: 5px;
  }

  .tribe-events-list {
    .tribe-events-event-image {
      float: left;
      width: 28%;
      margin: 0 4% 0 0;

      // Breakpoint: middle-bear (Up to Portrait Tablet)
      @include break(middle-bear) {
        float: none;
        width: 86%;
        margin: 0 auto;
      }
    }
  }

  // Event list widget on home page
  #tribe-events-adv-list-widget-4 {
    .h-widget {
      color: $turq;
    }

    .tribe-mini-calendar-event {
      color: $grey-dark;

      a {
        color: $turq;

        &:hover {
          color: $turq-dark;
        }
      }

      .list-date {
        background: $lime;
      }
    }
  }
}