// Event main page and single pages
.tribe-theme-child-gracious_living_2015 {
  
  #tribe-events-pg-template {
    margin-top: 80px;
    max-width: 760px;

    h1, h2, h3, h4, h5, h6 {
      color: $orange;
    }

    .tribe-events-content {
      ol,
      ul {
        li {
          line-height: 1.8;
        }
      }
    }
  }


  #tribe-bar-form {
    // Adding a down arrow next to "view as" menu
    .tribe-bar-views-inner label:after {
      content: "\f103";
      font-family: FontAwesome;
      color: $orange;
      margin-left: 8px;
    }

    label {
      color: $orange;
    }

    .tribe-bar-submit input[type=submit] {
      background: $orange;
    }
  }

  //single page stuff
  .single-tribe_events {

    #tribe-events {
      .tribe-events-schedule h3 {
        font-weight: bold;
      }
    }

    .tribe-events-venue-map {
      float: none;
      width: 100%;
      padding: 0;

      img {
        box-shadow: none;
      }
    }

    .h-landmark,
    .tribe-events-single-event-title {
      color: $orange;
    }

    .entry-content img {
      margin: 2%;
      border-radius: 0;
      box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $orange;
    }
  }

  .tribe-events-page-title {
    color: $grey-dark;
  }
}

// Event list widget on home page
#tribe-events-adv-list-widget-4 {

  .h-widget {
    color: $turq;
  }

  .tribe-mini-calendar-event {
    color: $grey-dark;
    
    a {
      color: $turq;

      &:hover {
        color: $turq-dark;
      }
    }

    .list-date {
      background: $orange;
    }
  }
}

