.x-child-theme-active {
  // Temp Fix for Shop Entry
  &.shop {
    .entry-header {
      display: none;
    }
  }

  //Class for narrow content
  &.narrow {
    .x-container.max.width.main {
      max-width: 760px;
      margin: 0 auto;
    }
  }

  .x-post-carousel {
    @include break(baby-bear) {
      display: none;
    }
  }

  .entry-content {
    margin-top: 0;
  }

  article {
    .entry-wrap {
      .content {
        li {
          margin-bottom: 15px;
        }

        p {
          margin: 0 0 2.15em;
        }
      }
    }
  }

  .getsocial.gs-inline-group {
    margin: 30px 0;
    clear: both;
    padding: 30px 0;
  }

  .h-landmark {
    float: right;
    color: $lime;
    font-size: 400%;

    // Breakpoint: cubs (Tablets and Below)
    @include break(cubs) {
      font-size: 330%;
    }

    @include break(baby-bear) {
      font-size: 220%;
    }
  }

  .x-header-landmark {
    @include break(baby-bear) {
      padding: 1em 0;
    }
  }

  .x-btn,
  .button,
  [type="submit"],
  .x-section .x-btn {
    border: none;
    background-color: $turq;
    text-transform: uppercase;
    font-family: "Raleway","Helvetica Neue",Helvetica,sans-serif;
    font-weight: 300;

    &:hover,
    &:focus,
    &:active {
      background: $turq-dark;
      outline: none;
      text-shadow: none;
      border: none;
    }

    &.button-orange {
      background-color: $orange;

      &:hover,
      &:focus,
      &:active {
        background: $orange-dark;
      }
    }
  }

  //Image borders & spacing
  .entry-content {
    a {
      &:hover img {
        box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $turq-dark;
      }

      img {
        max-width: 95%;
        margin: 4% 2%;
        border-radius: 0;
        box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $turq;

        @include break(cubs) {
          margin: 30px 2%;
        }
      }
    }

    img {
      max-width: 95%;
      margin: 4% 2%;
      border-radius: 0;
      box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $lime;

      @include break(cubs) {
        margin: 30px 2%;
      }

      &.alignleft {
        margin-right: 50px;

        @include break(cubs) {
          margin-right: 0;
          display: block;
          float: none;
          clear: both;
        }
      }

      &.alignright {
        margin-left: 50px;

        @include break(cubs) {
          margin-left: o;
          display: block;
          float: none;
          clear: both;
        }
      }

      &.aligncenter {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  // Top Post Slider
  //==========================================================================
  .x-post-carousel.unstyled {
    .entry-cover-author,
    .entry-cover-date {
      display: none;
    }

    .entry-cover:hover .x-post-carousel-meta {
      margin-bottom: -100px;
    }
  }
  // Footer
  //==========================================================================
  .x-colophon.top {
    background: $grey;
  }

  .x-colophon.bottom .x-colophon-content {
    color: $white;

    a {
      color: $white;
    }
  }

  // Home Page Overrides
  //==========================================================================
  &.home {
    article {
      .entry-wrap {
        .content {
          li {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #sb_instagram.sbi_col_3 #sbi_images .sbi_item, #sb_instagram.sbi_col_4 #sbi_images .sbi_item, #sb_instagram.sbi_col_5 #sbi_images .sbi_item, #sb_instagram.sbi_col_6 #sbi_images .sbi_item, #sb_instagram.sbi_col_7 #sbi_images .sbi_item, #sb_instagram.sbi_col_8 #sbi_images .sbi_item, #sb_instagram.sbi_col_9 #sbi_images .sbi_item, #sb_instagram.sbi_col_10 #sbi_images .sbi_item {
    width: 50%;
  }
}

// Making headings more responsive and better sized for mobile
h1,
.h1 {
  @include break(cubs) {
    font-size: 330%;
  }

  @include break(baby-bear) {
    font-size: 220%;
  }
}

h2,
.h2 {
  @include break(cubs) {
    font-size: 200%;
  }

  @include break(baby-bear) {
    font-size: 180%;
  }
}

h3,
.h3 {
  @include break(cubs) {
    font-size: 180%;
  }

  @include break(baby-bear) {
    font-size: 150%;
  }
}

h4,
.h4 {
  @include break(cubs) {
    font-size: 150%;
  }

  @include break(baby-bear) {
    font-size: 125%;
  }
}

h5,
.h5 {
  @include break(cubs) {
    font-size: 125%;
  }

  @include break(baby-bear) {
    font-size: 115%;
  }
}

p {
  margin-bottom: 0.5em;
}

// SETTING DEFAULT COLOURS ON ALL PAGES LIME HEAD + TURQ LINKS, BUTTONS & ACCENTS
// ============================================================================
.x-topbar,
.sign-up-form-wrapper,
.x-colophon.bottom {
  background-color: $lime;
}

// Media and Gallery Fixes
// ============================================================================
.gallery-item,
.wp-caption {
  border: none;
  border-radius: 0;
}

// Contact Page styling
// ============================================================================
.page-id-17 {
  .x-1-2 {
    img {
      position: relative;
      top: 26px;
    }

    .social-contact-list {
      margin: 35px auto 0;
      display: inline-block;
      width: 100%;
      padding: 0;
      list-style-type: none;

      li {
        display: table-cell;
        width: 1%;
        float: none;
        position: relative;
        text-align: center;

        .fa {
          font-size: 25px;
        }
      }
    }
  }
}

#wpcf7-f4396-p17-o1 {
  select,
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="search"],
  .uneditable-input {
    color: $lime;
  }

  select,
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="search"] {
    border: 2px solid $lime;
  }

  .wpcf7-submit {
    width: 100%;
  }
}

img.ajax-loader {
  height: 0;
}

// META INFO
// ============================================================================
.blog,
.single-post {
  .p-meta {
    font-size: 0.85em;

    a {
      font-weight: bold;
      color: $turq;

      &:hover,
      &:focus,
      &:active {
        color: $turq-dark;
      }
    }

    span {
      padding: 0 1px;
    }
  }
}

// Blockquote and Cite
//============================================================================
.x-child-theme-active {
  blockquote.x-blockquote {
    padding: 1em 0 1.5em;
    font-size: 1.3em;
    line-height: 1.5;
    overflow: hidden;

    @include break(baby-bear) {
      font-size: 1.2em;
      line-height: 1.4;
    }
  }

  cite.x-cite {
    color: $orange;
    float: right;
    opacity: 1;
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 0.8em;
  }
}

// BLOG & BLOG CAT PAGES:
//============================================================================
.blog,
.category {
  .x-main {
    .entry-featured {
      position: relative;
      top: 11px;
      box-shadow: 0 0 0 8px $grey-dark, 0 0 0 17px $white, 0 0 0 19px $turq;
    }
  }
}

//Single Post Pages
//============================================================================
.single {
  &.x-child-theme-active {
    .x-container > .offset {
      margin-top: 80px;
    }
  }

  .x-container.max.width.main {
    max-width: 760px;
    margin: 0 auto;

    .p-meta {
      display: inline-block;
    }
  }

  .x-comments-list {
    .children {
      margin-left: 85px;
    }
  }
}

// Remove the break tag under the get social plugin on pages that aren't displaying it
//============================================================================

.home,
.blog,
.page-id-17,
.page-id-9503,
.tribe-events-map,
.page-id-5197 {
  .getsocial + br {
    display: none;
  }
}