.home {

  .currently-in {
    line-height: 0;
    .h4 {
      margin-top: 1.15em
    }
  }

  .x-section .x-slide {
    img {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  .x-container.max.width.main {
    max-width: 100%;
  }

  .x-container.width {
    width: 100%;
  }

  .h-landmark.entry-title{display: none;}

  .x-container>.offset {
    margin: 0 auto;
  }

  .x-flexslider-shortcode-container {margin-bottom: 0;}
  .x-section .flex-control-nav {
    top: initial;
    bottom: -30px;
  }
}

#x-section-1 {
  @include break(cubs) {
    padding: 0 !important;
  }
  .x-container.max.width {
    max-width: 100%;
    width: 100%;
    @include break(baby-bear) {
      padding: 0 !important;
    }
  }
}


// Removing things from media pages
// =============================================================================
// .portfolio-category-media {
//   .p-meta {display: none;}
// }

// .portfolio-category-media {
//   .entry-content img {
//     box-shadow: none;
//     margin-top: 0;
//     margin-bottom: 0;
//   }
// }

