@mixin base-animation {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}