// Logo in nav
.x-brand.img {
  position: relative;
  bottom: -5px;

  img {
    width: 210px;
  }
}

//removing the display-table from nav, to let logo overflow
.x-navbar-wrap {
  .x-container:before,
  .x-container:after {
    display: initial;
  }
}

//desktop nav
.x-navbar {
  box-shadow: 0 6px 9px -4px rgba($grey-dark, 0.4);
}

// setting the nav to be full width
.x-navbar-wrap {
  .x-container.max.width {
    width: 100%;
    max-width: 100%;
    padding: 0 1.15em;
  }
}

// adjust where the underline on nav is (NOT WORKING RIGHT NOW)
.x-navbar .desktop .x-nav > li > a {
  height: 44px;
  padding-top: 25px;
}

//mobile nav
.x-btn-navbar,
.x-btn-navbar.collapsed {
  color: $turq;

  &:hover {
    color: $turq-dark;
  }
}

//about menu button
#menu-item-25 {
  > a:hover,
  ul.sub-menu a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $turq;
  }

  > a span:after {
    color: $turq;
  }
}

//blog menu button
#menu-item-22 {
  > a:hover,
  ul.sub-menu a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $yellow;
  }

  > a span:after {
    color: $yellow;
  }
}

//recipes menu button
#menu-item-5200 {
  > a:hover,
  ul.sub-menu a:hover,
  &.current-menu-item > a  {
      box-shadow: 0 4px 0 0 $purple;
    }

    > a span:after {
      color: $purple;
    }
}

//events menu button
#menu-item-3590 {
  > a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $orange;
  }
}

//TV menu button
#menu-item-23 {
  > a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $lime;
  }
}

//Gallery menu button
#menu-item-24 {
  > a:hover,
  &.current-menu-item > a ,
  &.current-menu-item > a {
    box-shadow: 0 4px 0 0 $coral;
  }
}

//sponsors menu button
#menu-item-20 {
  > a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $turq;
  }
}

//media menu button
#menu-item-21 {
  > a:hover,
  &.current-menu-item > a  {
    box-shadow: 0 4px 0 0 $yellow;
  }
}

//contact menu button
#menu-item-19 {
  > a:hover,
  &.current-menu-item > a  {
      box-shadow: 0 4px 0 0 $purple;
    }
}