.page-id-16 {
  .entry-content {
    img { box-shadow: none; }
  }
}

#sponsors-accordion {
  .x-accordion-toggle {
    background-color: $orange;
  }

  .x-accordion-inner {
    overflow: hidden;
  }
}